<VirtualHost *:80>
        ServerName §§subdomain.§§url

        ProxyRequests           Off
        ProxyPreserveHost       On

		ProxyPass /api/kernels/ ws://§§ip:§§port/api/kernels/
        ProxyPassReverse /api/kernels/ ws://§§ip:§§port/api/kernels/
        ProxyPass               /       http://§§ip:§§port/
        ProxyPassReverse        /       http://§§ip:§§port/

</VirtualHost>